html {
    background-color: rgba(66,66,66,1.0);
}
/*header {
    position: fixed;
    top: 0px;
    float: left;
}*/
article {
    margin: auto;
    width: 210mm;
    height: 297mm;
    background-color: rgba(233,233,233,1.0);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}