html {
    /*color: rgba(66,66,66,1.0);*/
    background-color: rgba(18,26,44,1.0);
    font-family: 'Raleway', sans-serif;
}
body {
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(190,242,2,1.0);
}
header>h1 {
    width: 73rem;
    margin: 0 auto;
    text-align: right;
}
header>h1>span {
    white-space: pre;
    font-size: 6.7rem;
    font-family: 'Cabin Sketch', cursive;
    text-transform: uppercase;
    color: rgba(18,26,44,1.0);
}
header>p {
    width: 73rem;
    text-align: right;
    margin: -2rem auto 0 auto;
    font-family: 'Cabin Sketch', cursive;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: rgba(18,26,44,1.0);
}
nav {
    background-color: rgba(188,188,188,1.0);
    display:none;
}
nav>ul {
    display: flex;
    justify-content: space-around;
    width: 73rem;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
}
main {
    margin-top: 12rem;
}
main>article {
    margin: 2rem auto;
    padding: 2rem;
    width: 69rem;
    height: calc(73rem * 1.4142);
    background-color: rgba(230,234,225,1.0);
    border-radius: 0.2rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0,0,0,0.19), 0 0.375px 0.375px rgba(0,0,0,0.23);
}
main>article>section>h2 {
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
}